WCFServiceGiris/WCFServiceGiris/Service References/EntityService/EntityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Urun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fiyat" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stok" type="xs:short" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urun" nillable="true" type="tns:Urun" />
</xs:schema>