WCFServiceGiris/WCFServiceGiris/Service References/EntityService/EntityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EntityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3093/EntityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3093/EntityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3093/EntityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_Listele_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Listele_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeleResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Ekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Ekle" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Ekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:EkleResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Guncelle_InputMessage">
    <wsdl:part name="parameters" element="tns:Guncelle" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Guncelle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Sil_InputMessage">
    <wsdl:part name="parameters" element="tns:Sil" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Sil_OutputMessage">
    <wsdl:part name="parameters" element="tns:SilResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_UrunSec_InputMessage">
    <wsdl:part name="parameters" element="tns:UrunSec" />
  </wsdl:message>
  <wsdl:message name="IEntityService_UrunSec_OutputMessage">
    <wsdl:part name="parameters" element="tns:UrunSecResponse" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:operation name="Listele">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Listele" message="tns:IEntityService_Listele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/ListeleResponse" message="tns:IEntityService_Listele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Ekle" message="tns:IEntityService_Ekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/EkleResponse" message="tns:IEntityService_Ekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Guncelle" message="tns:IEntityService_Guncelle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/GuncelleResponse" message="tns:IEntityService_Guncelle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/Sil" message="tns:IEntityService_Sil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/SilResponse" message="tns:IEntityService_Sil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UrunSec">
      <wsdl:input wsaw:Action="http://tempuri.org/IEntityService/UrunSec" message="tns:IEntityService_UrunSec_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEntityService/UrunSecResponse" message="tns:IEntityService_UrunSec_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listele">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Listele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ekle">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Ekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guncelle">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Guncelle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sil">
      <soap:operation soapAction="http://tempuri.org/IEntityService/Sil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UrunSec">
      <soap:operation soapAction="http://tempuri.org/IEntityService/UrunSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EntityService">
    <wsdl:port name="BasicHttpBinding_IEntityService" binding="tns:BasicHttpBinding_IEntityService">
      <soap:address location="http://localhost:3093/EntityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>