RealEF/WindowsFormsApplication1/Service References/ServiceReference1/ProductionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46930/ProductionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdventureWorksSurrogateLibrary" />
  <xs:element name="GetProductBySubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBySubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdventureWorksSurrogateLibrary" minOccurs="0" name="GetProductBySubCategoryResult" nillable="true" type="q1:ArrayOfProductSurrogate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>