EvalServiceLibrary/Client/Service References/EvalServiceReference/Eval2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Eval">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commets" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Submitter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Eval" nillable="true" type="tns:Eval" />
  <xs:complexType name="ArrayOfEval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Eval" nillable="true" type="tns:Eval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEval" nillable="true" type="tns:ArrayOfEval" />
</xs:schema>