KuzeyRuzgari/KuzeyRuzgariWeb/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KuzeyRuzgari.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KuzeyRuzgari.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUrun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Urun" nillable="true" type="tns:Urun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUrun" nillable="true" type="tns:ArrayOfUrun" />
  <xs:complexType name="Urun">
    <xs:sequence>
      <xs:element minOccurs="0" name="Stok" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urun" nillable="true" type="tns:Urun" />
  <xs:complexType name="ArrayOfKategori">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kategori" nillable="true" type="tns:Kategori" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategori" nillable="true" type="tns:ArrayOfKategori" />
  <xs:complexType name="Kategori">
    <xs:sequence>
      <xs:element minOccurs="0" name="KategoriAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KategoriID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategori" nillable="true" type="tns:Kategori" />
</xs:schema>