RealEF/IstConsumer/Service References/ServiceReference1/ProductionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdventureWorksSurrogateLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdventureWorksSurrogateLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductSurrogate" nillable="true" type="tns:ProductSurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductSurrogate" nillable="true" type="tns:ArrayOfProductSurrogate" />
  <xs:complexType name="ProductSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductSubCategoryId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductSurrogate" nillable="true" type="tns:ProductSurrogate" />
</xs:schema>