HOSTETTİĞİMSERVİSLER/KENDİ HOST ETTİĞİM_ WCF/WcfServisimi_Tuket/WcfServisimi_Tuket/Service References/ServiceReference1/Products1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SurrogateLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SurrogateLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSurrogateProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurrogateProduct" nillable="true" type="tns:SurrogateProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurrogateProduct" nillable="true" type="tns:ArrayOfSurrogateProduct" />
  <xs:complexType name="SurrogateProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurrogateProduct" nillable="true" type="tns:SurrogateProduct" />
</xs:schema>